.pokemon-picture-container {
    width:320px;
    height:280px;
}

.profile-img {
    height: 250px;
    padding-bottom:15px;
}

.pokemon-type-label {
    color:white;
    border-radius: 5px;
    margin:0;
    padding: 3px 45px 3px 45px;
    
}

.spacing-between {
    margin-left: 8px;
}