.moves-component {
    margin-top:50px;
    padding-bottom: 50px;
}

.moves-container {
    padding-left:7px;
    padding-top:5px;
    overflow:auto;
    width:99%;
    height:50px;
    white-space:nowrap;
    display:inline-block;
}

.moves-header {
    margin-left:6px;
}